body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

* {
    margin-bottom: 0;
    margin-left: 0;
}

h1,
h2, 
h3, 
h4, 
h5, 
h6 {
    margin: 0;
}

ul, p {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
}

.header .container {
    display: flex;
    align-items: center;
    width: 1158px;
}

.header-nav-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 76px;
}

.studio {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header-nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
    display: block;
}

.header-nav-link:hover, 
.header-nav-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-link {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
}

.header-address-item{
    display: flex;
    gap: 40px;
}

.header-address {
    margin-left: auto;
}

.header-address-link:hover, 
.header-address-link:focus {
    color: #404bbf;
}

.section {
    padding: 120px 0;
}

.effective-solutions {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.effective-solutions-text {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin: 0 auto;
    width: 100%;
    max-width: 496px;
}

.effective-solutions {
    background-color: #2E2F42;
}

.button {
    background: #4D5AE5;
    color: #FFF;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    margin-top: 48px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.our-qualities {
    background: #FFF;
}

.our-qualities .container {
    padding: 120px 0;
}

.our-qualities-item {
    gap: 24px;
    display: flex;
}

.our-qualities-link {
    width: 100%;
    width: calc((100% - 72px) / 4);
}

.our-qualities-text {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;  
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-qualities-paragraph {
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team {
    background: #F4F4FD;
}

.our-team-basic-text {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.our-team-item {
    display: flex;
    gap: 24px;
}

.our-team-link {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.our-team-info {
    padding: 32px 0;
    text-align: center;
}

.our-team-text {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-team-paragraph {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.our-portfolio {
    background: #FFFFFF;
}

.our-portfolio-item {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio-link {
    border: 1px solid #E7E9FC;
    background: #FFF;
    width: calc((100% - 48px) / 3);
}

.our-portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}


.our-portfolio-basic-text {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.our-portfolio-text {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.our-portfolio-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background: #2E2F42;
    padding: 100px 0;
}

.footer-logo {
    color: #4d5ae5;
    font-family:"Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-studio {
    color: #f4f4fd;
}

.footer-paragraph {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    width: 100%;
    max-width: 264px;
}